* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul {
    list-style: none;
}

nav {
    position: fixed;
    top: 50%;
    right: 50px;
    transform: translate(0, -50%);
    z-index: 999;
}

nav li a {
    position: relative;
    display: block;
    width: 100px;
    height: 30px;
    font-size: 0;
}

nav li a::after {
    content: "01";
    position: absolute;
    top: 15px;
    right: 0;
    width: 30px;
    height: 1px;
    background: #333;
    transition: 0.5s;
}

nav li.on a::after {
    width: 100px;
}

.section .inner {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
}

.section figure {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto 30px auto;
    border-radius: 50%;
    overflow: hidden;
    border: 20px solid rgba(255, 230, 0, 0.479);

    transform: translate(0, 100px);
    opacity: 0;

    transition: 0.5s 1s;
}

.section.on figure {
    border-radius: 10%;
    transform: translate(0.0);
    opacity: 1;
}


.section figure img {
    width: 100%;
}


.section h2 {
    text-align: center;
    opacity: 0;
    transform: translate(100px, 0);
    transition: 0.5s 1s;
}

.section.on h2 {
    text-align: center;
    transform: translate(0, 0);
    opacity: 1;
}

.section p {
    text-align: center;
    opacity: 0;
    transform: translate(100px, 0);
    transition: 0.5s 1.5s;
}

.section.on p {
    text-align: center;
    transform: translate(0, 0);
    opacity: 1;
}


.header {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 999;
}

.header img {
    margin: 10px;
    width: 230px;
    height: 100px;
}